{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}
{% block body %}
<a href="/panier"><button class="btn btn-primary">Aller au panier</button></a>
<a href="/ajoutProduit"><button class="btn btn-primary">Ajouter Produit</button></a>
<h2>Produits :</h2>
<table>
  {% for p in produits %}
  <tr>
    <a href="{{ path('produit', {id: p.id}) }}">
    <p>{{ p.photo }}</p>
    <p>{{ p.nom }}</p>
    </a>
    <a href="{{ path('produitSuppr', {id: p.id}) }}"><button class="btn btn-danger">X</button></a>
  </tr>
  {% endfor %}
</table>
{% endblock %}
